<h1>All Blog Posts</h1>
<%= link_to "Add New Blog Post", new_post_path, class: "btn linkcolor" %>
  <ul >
    <% @posts.each do |post| %>
      <li class="well">
        <h4><%= post.title%> by <%= post.author %></h4>
        <br>
        <h5><%= post.content %></h5>

      </li>
    <% end %>
  </ul>
