<h1>All Inventory</h1>
  <ul>
    <% @products.each do |product| %>
      <li><h4><%= link_to product.name, product_path(product) %></h4></li>
    <% end %>
  </ul>

<%= link_to "Add New Product", new_product_path, class: "btn linkcolor" %>
