<h1>All Inventory</h1>
<%= link_to "Add New Product", new_product_path, class: "btn linkcolor" %>
  <ul class="well">
    <% @products.each do |product| %>
      <li><h4>
<img src="https://d30y9cdsu7xlg0.cloudfront.net/png/16713-200.png" alt="candy icon" class="icon-size"/>
        <%= link_to product.name, product_path(product) %></h4></li>
    <% end %>
  </ul>
